@use 'variaveis';

.animes{
    height: 100vh;
}

.banner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;   
        height: 300px;
        object-fit: cover;
        border-radius: 16px;
    }

    &__anuncio{
        background-color: map-get(variaveis.$bgColors, banner);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 60px;
        border-radius: 0 0 12px 12px;
    }
}