@use 'variaveis';

@mixin gridSections($repat: 4){
    display: grid;
    grid-template-columns: repeat($repat, 1fr);
    gap: 36px;
}

@mixin formatCard(){
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 16px;
}




.banner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;   
        height: 300px;
        object-fit: cover;
        border-radius: 16px;
    }

    &__anuncio{
        background-color: map-get(variaveis.$bgColors, banner);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 60px;
        padding: 5px 26px;
        border-radius: 0 0 12px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;   

        &__buttons{
            a{
                text-decoration: none;
                color: map-get(variaveis.$colors, 'primary');
                font-size: 12px;
                border: 1px solid;
                border-radius: 16px;
                padding: 8px 16px;
                cursor: pointer;
                transition: .5s ease;

                &:hover{
                    background-color: darken(map-get(variaveis.$colors, primary), $amount: 20);
                    color: #fff;
                    border: none;
                }
            }
        }
        
        .content{
            display: flex;
            align-items: center;
            gap: 12px;
            img{
                width: 40px;
                height: 40px;
            }
            
            .info{
                position: relative;
                padding: 0 16px;
                span{
                    background-color: #FAC919;
                    color: #000;
                    width: 20px;
                    height: 15px;
                    font-size: 10px;
                    font-weight: 700;
                    border-radius: 5px;
                    padding: 4px 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left:0;
                }
                .title{
                    font-family: 'Be Vietnam Pro', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    margin-left: 12px;
                }
                .desc{
                    font-family: 'Be Vietnam Pro', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}

.animes__stream{
    position: relative;
    margin-top: 50px;

    &__cards__list{
        @include gridSections(4);
        

        &__item{
            @include formatCard();
            background-color: map-get(variaveis.$bgColors, card);
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
                aspect-ratio: 3/4;
                object-position: top;
            }

            .card__body{
                .content{
                    position: relative;
                    box-sizing: border-box;
                    height: 100px;
                    padding: 10px 20px;
                    flex-wrap: wrap;
                    .title{
                        width: 90%;
                        max-width: 170px;
                        height: 100%;
                        max-height: 100px;
                        flex-wrap: wrap;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        text-align: start;
                        font-family: 'Be Vietnam Pro', sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: capitalize;
                    }

                    .info{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin-top: 8px;
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                        margin: 0 24px;
                        span{
                            font-family: 'Be Vietnam Pro', sans-serif;
                            font-weight: 400;
                            font-size: 10px;

                            i{
                                color: map-get(variaveis.$colors, primary);
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.animes__top{
    position: relative;

    &__cards__list{
        @include gridSections(4);

        &__item{
            position: relative;
            @include formatCard();
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                aspect-ratio: 3/4;
                object-position: top;
                border-radius: 16px;
            }
                h5{
                    position:absolute;
                    inset: 50%;
                    transform: translate(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    mix-blend-mode: overlay;
                    font-size: 300px;
                    font-family: 'Be Vietnam Pro', sans-serif;
                    color: #ccc;
                    text-shadow: map-get(variaveis.$textColors, textShadow), map-get(variaveis.$textColors, textShadow),
                    map-get(variaveis.$textColors, textShadow);
                    -webkit-text-stroke: 5px  #FAC919;
                }

        }
    }
}