@use 'variaveis';

@mixin gridSections($repat: 4, $gap: 36px){
    display: grid;
    grid-template-columns: repeat($repat, calc(100% / $repat - $gap));
    place-items: center;
    gap: 36px;

    @media(max-width: 500px){
        gap: 16px;
    }
}


@mixin formatCard(){
    width: 100%;
    max-width: 300px;
    height: 300px;
    border-radius: 16px;

    @media(max-width: 500px){
        width: 100%;
        max-width: 150px;
        height: 200px;
    }
}




.banner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;   
        height: 300px;
        object-fit: cover;
        border-radius: 16px;

        @media(max-width: 767px ) {
            height: 175px;
        }
    }

    &__anuncio{
        background-color: map-get(variaveis.$bgColors, banner);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 60px;
        padding: 5px 26px;
        border-radius: 0 0 12px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;   

        @media(max-width: 650px){
            height: 50px;
            padding: 8px 16px;
        }

        &__buttons{
            a{
                text-decoration: none;
                color: map-get(variaveis.$colors, 'primary');
                font-size: 12px;
                border: 1px solid;
                border-radius: 16px;
                padding: 8px 16px;
                cursor: pointer;
                transition: .5s ease;

                @media(max-width: 767px ){
                    display: block;
                    text-align: center;
                    width: 10em;
                    padding: 4px 8px;
                    font-size: 12px;
                }

                &:hover{
                    background-color: darken(map-get(variaveis.$colors, primary), $amount: 20);
                    color: #fff;
                    border: none;
                }
            }
        }
        
        .content{
            display: flex;
            align-items: center;
            gap: 12px;
            img{
                width: 40px;
                height: 40px;
                @media(max-width: 767px ){
                    width: 30px;
                    height: 30px;
                }
            }
            
            .info{
                position: relative;
                padding: 0 16px;

                @media(max-width: 650px){
                    padding: 0 8px;
                }
                span{
                    background-color: #FAC919;
                    color: #000;
                    width: 20px;
                    height: 15px;
                    font-size: 10px;
                    font-weight: 700;
                    border-radius: 5px;
                    padding: 4px 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left:0;

                    @media(max-width: 650px){
                        width: 15px;
                        height: 12px;
                        font-size: 8px;
                        top: 4px;
                    }
                }
                .title{
                    font-family: 'Be Vietnam Pro', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    margin-left: 12px;

                    @media(max-width: 767px ){
                        font-size: 0.8rem;
                        line-height: 1.2rem;
                    }
                }
                .desc{
                    font-family: 'Be Vietnam Pro', sans-serif;
                    font-size: 12px;
                    font-weight: 400;

                    @media(max-width: 767px ){
                        flex-wrap: wrap;
                        font-size: 0.6rem;
                        line-height: 0.8rem;
                        max-height: 1.6rem;
                        overflow-y: auto;
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

.animes__stream{
    position: relative;
    margin-top: 50px;

    &__cards__list{
        @include gridSections(4);

        @media(min-width: 768px) and (max-width: 1023px){
            @include gridSections(3);
        }

        @media(max-width: 767px){
            @include gridSections(2, 0.84rem)
        }
        

        &__item{
            @include formatCard();
            background-color: map-get(variaveis.$bgColors, card);

            @media(min-width: 768px) and (max-width: 1023px){
                &:nth-child(4){
                    display: none;
                }
            }

            @media(max-width: 767px){
                &:nth-child(4),
                &:nth-child(3){
                    display: none;
                }
            }
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
                object-position: top;

                @media(max-width: 650px){
                    height: 100px;
                }
            }

            .card__body{
                .content{
                    position: relative;
                    box-sizing: border-box;
                    height: 100px;
                    padding: 10px 20px;
                    flex-wrap: wrap;


                    @media(max-width: 500px){
                        height: 100px;
                        padding: 8px 10px;
                    }
                    .title{
                        width: 87%;
                        max-width: 170px;
                        height: 100%;
                        max-height: 100px;
                        flex-wrap: wrap;
                        overflow-x: hidden;
                        overflow-y: hidden;
                        text-align: start;
                        font-family: 'Be Vietnam Pro', sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: capitalize;

                        @media(max-width: 500px){
                            line-height: 1.2rem;
                            max-width: 150px;
                            max-height: 40px;
                            font-size: 15px;
                        }
                    }

                    .info{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        margin-top: 8px;
                        display: flex;
                        justify-content:space-between;
                        align-items: center;
                        margin: 0 24px;

                        @media(max-width: 500px){
                            margin: 0 10px;
                            bottom: 20px;
                        }
                        span{
                            font-family: 'Be Vietnam Pro', sans-serif;
                            font-weight: 400;
                            font-size: 10px;
                            @media(max-width: 500px){
                                font-size: 8px;
                                display: flex;
                                align-items: center;
                            }
                            i{
                                color: map-get(variaveis.$colors, primary);
                                margin-right: 5px;

                                @media(max-width: 500px){
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.animes__top{
    position: relative;

    &__cards__list{
        @include gridSections(4);

        @media(min-width: 768px) and (max-width: 1023px){
            @include gridSections(3)
        }

        @media(max-width: 767px ){
            @include gridSections(2, 0.84rem)
        }

        &__item{
            position: relative;
            @include formatCard();

            @media(min-width: 768px) and (max-width: 1023px){
                &:nth-last-child(1){
                    display: none;
                }
            }

            @media(max-width: 767px ){
                &:nth-child(4),
                &:nth-child(3){
                    display: none;
                }
            }
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                aspect-ratio: 3/4;
                object-position: top;
                border-radius: 16px;

                @media(max-width: 500px){
                    height: 180px;
                }
            }
                h5{
                    position:absolute;
                    inset: 50%;
                    transform: translate(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    mix-blend-mode: overlay;
                    font-size: 300px;
                    font-family: 'Be Vietnam Pro', sans-serif;
                    color: #ccc;
                    text-shadow: map-get(variaveis.$textColors, textShadow), map-get(variaveis.$textColors, textShadow),
                    map-get(variaveis.$textColors, textShadow);
                    -webkit-text-stroke: 5px  #FAC919;

                    @media(max-width: 500px){
                        font-size: 150px;
                    }
                }

        }
    }
}