@use 'variaveis';


.footer{
    background: #000 linear-gradient(180deg, #1e1e1e, #213944);
    position: relative;
    padding-top: 1.5em;

    &__container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1450px;
        padding-right: 5.6vw;
        padding-left: 5.6vw;
        padding-bottom: 1.5em;
        width: 100%;
    }

}

.footer__wrapper__sections{
    display: flex;
    flex-wrap: wrap;

    &__section{
        flex-basis: 33%;
        padding: 0 1rem;

        @media(max-width: 500px){
            border-top: .1rem solid #23252b;
            display: flex;
            flex-basis: 100%;
            padding: 1.1rem 0;
        }
        h4{
            margin-bottom: .75rem;
            max-width: unset;
            line-height: 1.5rem;
            font-size: 1rem;
            font-family:'Be Vietnam Pro', sans-serif;
            font-weight: 700;

            @media(max-width: 500px){
                flex-basis: 45%;
                max-width: 50%; 
                overflow-wrap: break-word;
                padding-right: 1.25rem;
                word-break: break-word;
                font-size:1rem;
                line-height: 1.1rem;
            }
        }

        .list{
            @media(max-width: 500px){
                padding-top: .25rem;
            }
            &__item{
                display: flex;
                margin-bottom: .6rem;

                a{
                    color: #a0a0a0;
                    text-align: left;
                    text-decoration: none;
                    font-family:'Be Vietnam Pro', sans-serif;
                    font-weight: 400;
                    background-color: #0000;
                    transition: color .2s ease;

                    display: flex;
                    align-items: center;
                    line-height: 1.5rem;
                    font-size: 1rem;

                    i{
                        margin-right: .7rem;
                    }

                    &:hover{
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
