@use 'variaveis';

.hero{
    margin-top: -82px;

    @media(max-width: 767px) {
        margin-top: -72px;
    }

    @media(min-width: 768px) and (max-width: 1023px){
        margin-top: -90px;
    }

    &__carousel{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;

        &__list__item{
            position: absolute;
            inset: 0 0 0 0;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow-x:hidden;
                filter: brightness(75%);
            }

            .content{
                position: absolute;
                top: 20%;
                left: 50%;
                width: 1140px;
                max-width: 80%;
                transform: translateX(-50%);
                padding-right: 30%;
                box-sizing: border-box;
                color: map-get(variaveis.$textColors, 'primary');
                text-shadow: map-get(variaveis.$textColors, textShadow);

                @media (max-width: 768px){
                    left: 50%;
                }
            }
        }
    }
}



.hero__info{
    
    &--close{
        display: block;
        animation: displayContent .8s linear forwards;
    }
    &--active{
        display: block;
        opacity: 0;
        height: 0%;
        animation: scaleContent .5s linear forwards;
    }
    display: none;
    width: 75%;
    max-width: 400px;
    height: 100%;
    max-height: 80vh;
    position: relative;
    top: 50%;
    bottom: 50%;
    left:50%;
    overflow-y: hidden;
    padding: 24px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 1;
    background-color: map-get(variaveis.$bgColors, primary);
    
    .close__info{
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 5px 8px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #ccc;
        font-size: 1.5rem;
    }

    &__content{
        margin-top: 25px;
        padding: 12px 0;
        &__item{
            display: none;

            &.active{
                display: block;
            }
        }

        .title{
            max-height: 6rem;
            overflow-y: hidden;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            font-family: 'bebas Neue';
            letter-spacing: 5px;
            text-transform: capitalize;
            line-height: 2rem;
        }

        .desc{
            max-height: 25rem;
            padding-bottom: 12px;
            overflow-y: scroll;
            font-family: "Antic", sans-serif;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: start;
        }
    }
}

@keyframes displayContent {
    0%{
        height: 100%;
        opacity: 1;
    }

    50%{
        opacity: 1;
    }
    to{
        display: none;
        height: 0%;
        opacity: 0;
    }
}

@keyframes scaleContent{
    to{
        opacity: 1;
        scale: 1;
        height: 100%;
    }
}

.hero__carousel__list__item{
    
    .content{

        .title{
            font-family: 'bebas Neue';
            font-size: 4rem;
            letter-spacing: 5px;
            text-transform: capitalize;
            line-height: 4.5rem;
            max-height: 9rem;
            overflow-y: hidden;

            @media(max-width: 760px){
                overflow-y: hidden;
                letter-spacing: 2px;
                font-size: 2rem;
                line-height: 2.5rem;
                max-height: 4.55rem;
            }
        }
    }



        .desc{
            font-family: 'Antic', sans-serif;
            font-size: 1.2rem;
            line-height: 1.5rem;
            max-height: 7.5rem;
            overflow-y:hidden;
            flex-wrap: wrap;

            @media(max-width: 500px){
                overflow-y: hidden;
                font-size: 1.2rem;
                margin-top: 1rem;
                line-height: 1.5rem;
                max-height: 6rem;
            }
        }

        .buttons{
            display: grid;
            grid-template-columns: 50px 250px;
            grid-template-rows: 60px;
            gap: 30px;
            margin-top: 20px;
            align-items: center;

            @media (max-width: 767px){
                grid-template-columns: 40px 1fr;
                margin-top: 8px;
            }
            button:first-child{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: map-get(variaveis.$textColors, primary);
                transition: .5s;

                @media (max-width: 767px){
                    font-size: 16px;
                    height: 50px;
                    width: 50px;
                    padding:10px;
                }
                &:hover{
                    color: #000;
                }
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: map-get(variaveis.$textColors, 'primary');
                font-family: 'bebas Neue', sans-serif;
                text-align: center;
                font-size: 24px;
                letter-spacing: 1.5px;
                transition: .5s;
                @media (max-width: 768px){
                    font-size: 16px;
                    padding: 12px 0;
                }
                &:hover{
                    color: #000;
                }
            }
        }
    }


.hero__carousel__thumbnail{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: max-content;
    z-index: 50;
    display: flex;
    gap: 20px;

    .item{
        width: 150px;
        height: 220px;
        flex-shrink: 0;
        position: relative;

        @media(max-width: 200px) {
            width: 100px;
            height: 140px;
        }


        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
            filter: brightness(75%);
            -webkit-filter: brightness(75%);
        }

        .content{
            position: absolute;
            bottom: 20px;
            left: 10px;
            right: 10px;
            text-shadow: map-get(variaveis.$textColors, textShadow),map-get(variaveis.$textColors, textShadow);

            .desc{
                @media(max-width: 500px){
                    font-size: 12px;
                }
            }
            .title{
                h3{
                    font-family: 'bebas Neue', sans-serif;
                    text-transform: capitalize;
                    letter-spacing: 3px;

                    @media(max-width: 500px){
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.hero__carousel__arrows{
    position: absolute;
    top:80%;
    right: 45%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    
    @media (max-width: 768px){
        right: 55%;
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #eee4;
        border: none;
        outline: none;
        font-family: monospace;
        color: #fff;
        font-weight: bold;
        font-size: large;
        transition: .5s;
        z-index: 90;

        &:hover{
            background-color: #eee;
            color: #555;
        }
    }
}

.hero__carousel__list__item{
    &:nth-child(1){
        z-index: 1;
    }
}

/* Animações animation */
.hero__carousel__list__item:nth-child(1) .title,
.hero__carousel__list__item:nth-child(1) .desc,
.hero__carousel__list__item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.hero__carousel__list__item:nth-child(1){
    .title{
        animation-delay: 1.2s;
    }

    .desc{
        animation-delay: 1.4s;
    }

    .buttons{
        animation-delay: 1.6s;
    }
}


/* Efeito Next click */

.hero__carousel.next {
    .hero__carousel__list__item:nth-child(1){
        img{
            width: 150px;
            height: 220px;
            position: absolute;
            left: 50%;
            bottom: 5%;
            border-radius: 16px;
            animation: showImage .5s linear 1 forwards;
        }
    }

    .hero__carousel__thumbnail__item:nth-last-child(1){
        width: 0;
        overflow: hidden;
        animation: showThumbnail .5s linear 1 forwards;
    }

    .hero__carousel__thumbnail{
        transform: translateX(150px);
        animation: transformThumbnail .5s linear forwards;
    }
}

@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

@keyframes showThumbnail{
    to{
        width: 150px;
    }
}

@keyframes  transformThumbnail{
    to{
        transform: translateX(0);
    }
}

/* Effect prev click */

.hero__carousel.prev{

    .hero__carousel__list__item:nth-child(2){
        z-index: 2;

        img{
            position: absolute;
            bottom: 0;
            left: 0;
            animation: outImage .5s linear 1 forwards;

            @media(max-width: 200px) {
                animation: outImageMobile .5s linear 1 forwards;
            }
        }

        .title, .desc, .buttons{
            animation: contentOut 1.5s linear 1 forwards;
        }
    }

    .hero__carousel__thumbnail .item:nth-child(1){
        width: 0;
        overflow: hidden;
        opacity: 0;
        animation: showThumnail .5s linear 1 forwards;
    }

    .hero__carousel__thumbnail{
        transform: translateX(0);
        animation: transformThumbnailTeste .5s linear forwards;

        @media(max-width: 200px) {
            animation: transformThumbnailTesteMobile .5s linear 1 forwards;
        }
        
    }
}

@keyframes  transformThumbnailTeste{
    to{
        transform: translateX(150px);
    }
}
@keyframes  transformThumbnailTesteMobile{
    to{
        transform: translateX(100px);
    }
}

@keyframes outImageMobile{
    to{
        width: 100px;
        height: 140px;
        border-radius: 16px;
        left: 50%;
        bottom: 5%;       
    }
}

@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 16px;
        left: 50%;
        bottom: 5%;       
    }
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}


.hero__carousel.next {

    .hero__carousel__arrows{
        button{
            pointer-events: none;
        }
    }
}

/* time */

.hero__carousel__time{
    width: 0%;
    height: 5px;
    background-color: map-get(variaveis.$colors, primary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.hero__carousel.next,
.hero__carousel.prev{
    .hero__carousel__time{
        width: 100%;
        animation: timeRunnig 2s 1 forwards;
    }
}

@keyframes timeRunnig{
    to{
        width: 0;
    }
}

@media(max-width: 678px) {
    .hero__carousel__list__item{

        .content{
            padding-right: 0;
        }
    }
    .hero__carousel__list__item{
        .content{
            .title{
                font-size: 30px;
                
            }
        }
        }
}