@use 'variaveis';
@use 'header';
@use 'hero';
@use 'animes';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antic", sans-serif;
    list-style: none;
}

body{
    background-color: map-get(variaveis.$bgColors, "primary");
    color: map-get(variaveis.$textColors, "primary");
    overflow-x: hidden;
}

.button--transparent{
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 16px;
    @media (max-width: 768px){
        padding: 8px;
    }
    &:hover{
        &:hover{
            background-color: #ccc;
            color: #000;
        }
    }
}

.button--blur{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 100%;

    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-family: monospace, sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0 5px 5px map-get(variaveis.$textColors, textShadow) ;
        border: 1px solid #fff;
        outline: none;
        color: map-get(variaveis.$buttonsColor, card);
        background-color: map-get(variaveis.$buttonsColor, bgCard);

        &:first-child{
            position: absolute;
            left: 0;
        }

        &:last-child{
            position: absolute;
            right: 0;
        }

        &:hover{
            background-color: lighten(map-get(variaveis.$buttonsColor, bgCard), 10);
            color: lighten(map-get(variaveis.$buttonsColor, card), 15);
        }
    }
}

.title--section{
    margin-top: 40px;
    margin-bottom: 24px;
    h1{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 700;
        font-size: 28px;
    }
}
.container{
    padding: 5.6vw;
}