@use 'variaveis';
@use 'header';
@use 'hero';
@use 'animes';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antic", sans-serif;
    list-style: none;
}

body{
    background-color: map-get(variaveis.$bgColors, "primary");
    color: map-get(variaveis.$textColors, "primary");
    overflow-x: hidden;
}

.button--transparent{
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 16px;
    border-radius: 16px;
    @media (max-width: 768px){
        padding: 8px;
    }
    &:hover{
        &:hover{
            background-color: #ccc;
            color: #000;
        }
    }
}

.container{
    padding: 5.6vw;
}